.items {
    display: flex;
    flex-direction: row;
}

.itemsText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: 200, 400, 800;

}

.imageJudite {}